.contact
{
    min-height: 45vh;
}

.contact h2
{
    color: white;
    margin: 10px 0;
}

.contact .para-contact
{
    color: $font-color;
}

.contact .contact-btn button
{
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fbe850;
    cursor: pointer;
}

@media (max-width: 575.98px) { 
    .contact{
        min-height: 35vh;
    }
}

@media (max-width: 1199.98px){
    .contact{
        min-height: 27vh;
    }
}