.header{
    background-color: $main-color;
    display: flex;
    padding: 30px 20px;
    justify-content: space-around;
    align-items: center;
}

.logo h3{
    color: $font-color;
    font-weight: 800;
}

.nav ul{
    list-style: none;
    display:flex;
}

.nav ul li a{
    text-decoration: none;
    color: $font-color;
    margin-left: 20px;
}

.nav a:hover{
    color: #928e8e;
}

.header-btn button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fbe850;
    cursor: pointer;
}


#nav-btn{
    display: none;
    color: white;
}


@media (max-width: 650px) { 
    .header{
        justify-content: space-between;
    }
    
    .header-btn button{
        display: none;
    }

    .nav ul{
        display: none;
    }

    #nav-btn{
        display: block;
    }

    .nav ul.active{
        position: fixed;
        display: block;
        background-color: #121216;
        width: 100%;
        left: 0;
        top: 10%;
        height: 100vh;
        text-align: center;
        padding-top: 5px;
    }

    .nav ul li{
        padding: 10px 20px;
        font-size: 25px; 
    }

    .nav ul li:not(:first-child){
        border-top: 1px solid white ;
    }

    .nav ul li:not(:last-child){
        border-bottom: 1px solid white;
    }

    .nav ul li:hover{
        background-color: $main-color;
    }
}
