.main h1
{
    color: #fff;
    font-weight: 500;
    font-size: 50px;
}

.main .para-main
{
    color: $font-color;
    margin-top: 15px;
}

.logos-imgs
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.logos-imgs .main-img
{
    margin-left: 20px;
    margin-top: 20px;
}

.webs
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.webs .card,
.card
{
    margin-top: 70px;
    padding-left: 20px;
}

.webs .webs-img
{
    width: 400px;
    height: 300px;
}

.webs .content h3
{
    color: white;
    font-size: 28px;
    margin: 10px 0;
}

.webs .content h3 a i
{
    font-size: 16px;
    margin-left: 5px;
    color: white;
}

.webs .content .para-webs
{
    color: $font-color;
    font-size: 13px;
    font-weight: 400;
}

@media (max-width: 575.98px){
    .main h1{
        font-size: 20px;
    }

    .logos-imgs .main-img{
        margin-left: 15px;
        padding-top: 10px;
    }

    .webs{
        flex-wrap: wrap;
    }

    .webs .webs-img{
        width: 350px;
        height: 250px;
    }

    .webs .card,
    .card{
        padding-left: 0px;
    }
}

@media (max-width: 290px){
    .webs{
        flex-wrap: wrap;
    }

    .webs .webs-img{
        width: 250px;
        height: 200px;
    }

    .main h1{
        font-size: 15px;
        line-height: 20px;
    }

    .main .para-main{
        font-size: 13px;
    }
}

@media (max-width: 767.98px){
    .webs .card,
    .card{
        padding-left: 0px;
    }

    .main h1{
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1024px){
    .webs{
        flex-wrap: nowrap;
    }
}

@media (max-width: 380px){
    .webs .webs-img{
        width: 200px;
        height: 200px;
    }
}